/* general */

:root {
  --dark-blue: #0065fc;
  --light-blue: #deebff;
  --light-gray: #f2f2f2;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
}

#container {
  max-width: 1920px;
}

h1 {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.blue-text,
i {
  color: var(--dark-blue);
}

#selected {
  border-top: 2px solid var(--dark-blue);
}

section {
  padding: 0 3rem;
  margin-bottom: 2rem;
}

figure {
  display: flex;
  background: #fff;
  box-shadow: 5px 5px 20px 0px var(--box-shadow-color);
  overflow: hidden;
  border-radius: 20px;
}

.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.evaluation-empty-star {
  color: var(--light-gray);
}

/* header */

#container > header,
#container > header > nav,
#container > header ul,
#container > header li,
#register {
  display: flex;
}

#container > header,
header nav li,
#register {
  align-items: center;
}

#container > header {
  height: 15vh;
}

#logo {
  margin-left: 3rem;
  flex-grow: 1;
}

#container > header > nav {
  flex-grow: 0;
}

#container > header > nav,
header nav ul {
  height: 100%;
}

header nav li,
#register {
  margin: 0 2rem;
}

#register {
  order: 3;
  font-weight: 800;
}

/* research-and-filter section */

#search-bar,
#search-bar i,
#filters,
#filters ul,
.filter,
.filter i,
.filter p,
#info-msg,
#info-msg i {
  display: flex;
  align-items: center;
}

#search-bar i,
.filter i,
#info-msg i {
  justify-content: center;
}

#search-bar,
.filter {
  align-items: normal;
}

.filter,
.filter i,
#info-msg i {
  border: 2px solid var(--light-gray);
}

#search-bar input,
#search-bar button {
  font-size: 1rem;
  outline: none;
  border: none;
}

#search-bar input,
.filter p {
  font-weight: bold;
}

#search-bar input,
#search-bar button:first-of-type {
  padding: 0 1rem;
}

#search-bar i,
.filter,
.filter i {
  height: 2.5rem;
  width: 2.5rem;
}

#search-bar button,
#search-icon i {
  color: #fff;
}

#search-bar button,
.filter {
  cursor: pointer;
}

#research-and-filter > p {
  padding: 0.5rem 0;
}

#search-bar {
  margin: 0.5rem 0;
}

#search-bar label i {
  background: var(--light-gray);
  color: #000;
  border-radius: 0.7rem 0 0 0.7rem;
}

#search-bar input {
  border-radius: 0;
  border: solid var(--light-gray);
  border-width: 1px 0;
}

#search-bar button {
  background: var(--dark-blue);
}

#search-bar button:first-of-type {
  border-radius: 0 0.7rem 0.7rem 0;
}

#search-icon {
  border-radius: 0.7rem;
}

#search-icon i {
  display: none;
}

#filters,
#filters ul {
  flex-wrap: wrap;
}

#filters {
  margin: 1rem 0;
}

#filters h3 {
  margin-right: 1.5rem;
}

.filter {
  width: auto;
  margin: 0.5rem 0.7rem;
  border-radius: 50vh;
  position: relative;
}

.filter:hover,
.filter i {
  background: var(--light-blue);
  border-color: var(--light-blue);
}

.filter:hover {
  color: var(--dark-blue);
}

#info-msg i,
.filter i {
  border-radius: 50%;
}

.filter i {
  position: absolute;
  top: -2px;
  left: -2px;
}

.filter p {
  padding: 0 1rem 0 calc(calc(2.5rem - 2px) + 0.7rem); /* Within 'calc', 0.7rem is just the most aesthetic. The other 'calc' contains the icon's width - border-width */
}

#info-msg i {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

/* accomodations section : refactorization done inside this section */

#accomodations,
#accomodations figcaption, /* both article and aside */
#accomodation-list,
aside, /* for adding flex-grow on #popularity-list */
aside header,
#popularity-list,
.evaluation {
  display: flex;
}

#accomodations figcaption,
#accomodation-list figure,
aside,
#popularity-list {
  flex-direction: column;
}

#accomodation-list,
#popularity-list,
aside header {
  justify-content: space-between;
}

#accomodations article,
aside {
  background: var(--light-gray);
  padding: 2.5rem;
  border-radius: 20px;
}

#accomodations article {
  flex: 2;
  margin-right: 1.5rem;
}

aside {
  flex: 1;
  margin-left: 1.5rem;
}

#accomodations figure {
  border: 4px solid #fff;
}

#accomodations figcaption {
  flex: 2;
  margin: 0 1rem;
}

#accomodation-list {
  margin: 0.5rem -1rem 1.5rem; /* margin-top: 0.5rem + figure { margin: 1rem } = [total]margin-top: 1.5rem; */
  flex-wrap: wrap;
}

#accomodation-list a {
  width: 33%;
  /* min-width: 200px; */
}

#accomodation-list figure {
  height: 250px;
  width: calc(100% - 2rem); /* 100 % - 2*margin */
  margin: 1rem;
}

#accomodation-list .image {
  flex: 3;
  width: 100%;
}

#accomodation-list figcaption {
  justify-content: space-evenly;
}

#accomodations .image-1 {
  background-image: url("./images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#accomodations .image-2 {
  background-image: url("./images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#accomodations .image-3 {
  background-image: url("./images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#accomodations .image-4 {
  background-image: url("./images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#accomodations .image-5 {
  background-image: url("./images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#accomodations .image-6 {
  background-image: url("./images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

aside header {
  align-items: center;
}

aside header i {
  color: #000;
  font-size: 1.5rem;
}

#popularity-list {
  margin-top: 1.5rem;
  flex-grow: 1;
}

#popularity-list .image {
  height: 170px;
  width: 170px;
}

#popularity-list figcaption {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

#popularity-list p {
  margin-top: 0.5rem;
}

#popularity-list h3,
#popularity-list p {
  flex-grow: 0;
}

#popularity-list .evaluation {
  flex-grow: 1;
  align-items: flex-end;
}

#accomodations aside .image-1 {
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
#accomodations aside .image-2 {
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
#accomodations aside .image-3 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

/* Activities : refactorization done inside this section */

#activities-list,
.sub-group {
  display: flex;
  justify-content: space-between;
}

#activities-list {
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}

#activities-list figure {
  min-width: 18.5rem;
  display: block;
  margin: 1.5rem;
}

.sub-group {
  flex: 1;
  flex-direction: column;
}

#activities-list .image-1 {
  height: 500px;
  background-image: url("./images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
#activities-list .image-2 {
  height: 300px;
  background-image: url("./images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
#activities-list .image-3 {
  height: 100px;
  background-image: url("./images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
#activities-list .image-4 {
  height: 500px;
  background-image: url("./images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
#activities-list .image-5 {
  height: 250px;
  background-image: url("./images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
#activities-list .image-6 {
  height: 150px;
  background-image: url("./images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#activities-list figcaption {
  margin: 1rem;
}

/* Footer */

#container > footer {
  background: var(--light-gray);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 3rem 3rem;
  line-height: 2rem;
}

#container > footer nav {
  margin-top: 3rem;
  margin-right: 2rem;
}

#container > footer h2 {
  margin-bottom: 1rem;
}
